/* Global styles start  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  line-height: 1.5;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
  text-transform: uppercase;
}

h4 {
  font-size: 24px;
}

.tomato-highlight {
  color: tomato;
}

.site-btn {
  background-color: tomato;
  text-decoration: none;
  display: inline-block;
  padding: 15px 40px;
  color: #fff;
  border-radius: 5px;
}

.mar-top {
  margin-top: 100px;
}

.mar-left {
  margin-left: 10px;
}

/* Global styles end  */

/* header section style start */
/* site navigation */
.site-nav {
  margin: 20px 20px 10px;
  float: right;
}

.site-nav li {
  list-style: none;
  float: left;
  margin-right: 30px;
}

.site-nav a {
  text-decoration: none;
  color: #3c3c3c;
}

.hero-area {
  margin: 40px 0 100px;
}

.left-content {
  width: 40%;
  float: left;
  margin-left: 7%;
  padding-left: 2%;
}

.left-content p {
  width: 350px;
  margin: 25px 0;
  font-weight: 300;
}

.left-content img {
  width: 100%;
}

#mar-top {
  margin-top: 37px;
}

/* header section style end */
.about {
  margin-bottom: 200px;
}
.about p {
  width: auto;
}

#downIcon {
  max-width: 20px;
  height: auto;
  text-decoration: none;
  display: inline-block;
}

.site-btn a {
  text-decoration: none;
  color: #fff;
  margin-left: 5px;
}

/* skills section start */
.mySkills {
  max-width: 1300px;
  margin: 0 auto;
}

.mySkills h3 {
  text-align: center;
  margin-bottom: 50px;
  word-spacing: 5px;
}

.mySkills h2 {
  text-align: center;
  margin-top: 10px;
}

span:only-child {
  font-family: "Noto Serif", serif;
  font-weight: 700;
}

/* skills section end */

/* projects section start  */

.projects {
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.projects h3 {
  margin-bottom: 50px;
  text-align: center;
  word-spacing: 5px;
}

.card-section {
  max-width: 80vw;
  margin: 0 auto;
}

.card {
  width: 335px;
  height: 380px;
  padding: 10px 20px;
  float: left;
  margin: 0 10px;
  border-radius: 30px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
}

.card-description {
  margin-top: 25px;
}

.card-description h4 {
  font-size: 20px;
}

.card-description p {
  font-weight: 300;
  margin-top: 10px;
  font-size: 16px;
}

/* projects section end  */

/* inquiry section start  */
.inquiry {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.inquiry-content {
  background-image: url("../images/chatbg.png"),
    linear-gradient(138.38deg, #5d69e9 -7.79%, #4225b6 98.72%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(1, 65, 182);
  padding: 60px 40px;
  border-radius: 20px;
  margin-top: 200px;
}
.inquiry-content h1 {
  /* display: inline-block; */
  /* text-align: center; */
  margin-right: 200px;
  color: #fff;
  font-weight: 400;
}

.inquiry-heading {
  float: left;
}

#chat-btn {
  margin-top: 10px;
}

/* inquiry section end  */

/* footer section start  */
footer {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  line-height: 2;
  margin-bottom: 40px;
}

footer h5 {
  text-transform: uppercase;
  color: grey;
}

footer a {
  text-decoration: none;
  display: inline-block;
  margin: 0 5px;
}

.social img {
  width: 25px;
  margin: 10px 5px 0;
}

/* footer section end  */

/* float clearfix */
.group::before,
.group::after {
  content: "";
  display: table;
  clear: both;
}
